.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

@media (max-width: 768px) {
  .liquid-ether-container {
    pointer-events: none !important;
  }
}
