@import "tailwindcss";

/* Optional smooth scrolling */
html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden !important;
}

button:hover {
  cursor: pointer; /* Changes the cursor to a hand icon */
}